* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.shop-item {
    float: left;
    width: calc((100% / 3) - 30px);
    margin: 15px;
}

[class^="shop-item-picture-"] {
    position: relative;
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: top center;
}

.shop-item-picture-1 {
    background-image: url('../img/1web.jpg');
}

.shop-item:hover .shop-item-picture-1 {
    background-image: url('../img/1-hover.jpg');
}

.shop-item-picture-2 {
    background-image: url('../img/2.webp');
}

.shop-item:hover .shop-item-picture-2 {
    background-image: url('../img/2-hover.webp');
}


.shop-item-picture-3 {
    background-image: url('../img/3.webp');
}

.shop-item:hover .shop-item-picture-3 {
    background-image: url('../img/3-hover.webp');
}

.shop-item-picture-4 {
    background-image: url('../img/4.webp');
}

.shop-item:hover .shop-item-picture-4 {
    background-image: url('../img/4-hover.webp');
}

.shop-item-picture-5 {
    background-image: url('../img/5.webp');
}

.shop-item:hover .shop-item-picture-5 {
    background-image: url('../img/5-hover.webp');

}

.shop-item-picture-6 {
    background-image: url('../img/6.webp');
}

.shop-item:hover .shop-item-picture-6 {
    background-image: url('../img/6-hover.webp');
}









.simbolocuore {
    position: absolute;
    top: 10px;
    right: 0;
    width: 40px;
    background-color: #fff;
    text-align:center;
    font-size: 24px;
    padding: 5px 0;
}

.shop-item-icons {
    position: absolute;
    bottom: 10px;
    left: 0;
}

.discount, .detail {
    display: inline-block;
    padding: 5px 8px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.discount {
    background-color: red;
}

.detail {
    background-color: green;
}


.shop-item-details {
    height: 100px;
}

.shop-item-title {
    margin-top: 10px;
    color: #777;
}

.shop-item-price {
    margin-top: 15px;
    color: red;
    font-weight: bold;
}


.price{
    margin-top: 10px;
}

.shop-item-title-green{
    background-color: rgb(29, 131, 29);
    width: 370px;
    height: 70px;
    margin-top: 5px;
}














    