*{box-sizing: border-box;
    margin:0;
    padding: 0;
    }
    
    .clearfix::after{
        content: "";
        display:table;
        clear:both;
    }
    
    .fl{
        float: left;   
    }
    
    
    .container {
        max-width: 1200px;
        margin: 0 auto;
        
    }

    .content {
        background-color: rgb(255, 255, 255);
        height: 700px;
        padding: 10%;
        position: relative;
    }

  #img{
      position: absolute;
  }


.containerbox1{
       position: absolute;
       margin-top: 100%;
       width: 55px;
       height: 30px;
       border: 1px solid rgb(2, 2, 2);
       background-color: rgb(243, 12, 12);
       padding: 2%;
    }
    
.container2{ 
    position: absolute;
    margin-top: 100%;
    margin-left: 70px;
    width: 90px;
    height: 30px;
    border: 1px solid rgb(2, 2, 2);
    background-color: rgb(17, 85, 28);
    padding: 1%;
}


.containerbox2{
    position: absolute;
    margin-top: 100%;
    width: 55px;
    height: 30px;
    border: 1px solid rgb(2, 2, 2);
    background-color: rgb(243, 12, 12);
    padding: 2%;
 }
 
 
 .containerv{ 
    position: absolute;
    margin-top: 100%;
    width: 90px;
    height: 30px;
    border: 1px solid rgb(2, 2, 2);
    background-color: rgb(40, 97, 35);
    padding: 1%;
}



.container3{ 
    position: absolute;
    margin-top: 100%;
    width: 80px;
    height: 35px;
    border: 1px solid rgb(2, 2, 2);
    background-color: rgb(40, 97, 35);
}

    .container4{
        margin-top: 150%;
        width: 290px;
        height: 80px;
        background-color: rgb(255, 255, 255);
    }
    .container5{
        margin-top: 155%;
        width: 290px;
        height: 80px;
        background-color: rgb(255, 255, 255);
    }

    .container6{
        
        padding-top: 15px;
        width: 290px;
        height: 80px;
        background-color: rgb(39, 122, 36);
    
    }
    .container7{
        margin-top: 15px;
        width: 290px;
        height: 80px;
        background-color: rgb(47, 139, 35);
    
    }
    
    .container8{
        margin-top: 155%;
        width: 290px;
        height: 80px;
        background-color: rgb(255, 255, 255);
    
    }


   .text{
       color: rgb(255, 255, 255);
       text-align: center;
       
   }
   


   #descrizione1{
      text-align: left;
      margin: 0 auto;
      margin-top: 55px;
   }

   #descrizione2{

   }
   #prezzo{
color: red;
   }


    .main-page{
        background-color: rgb(255, 255, 255);
        margin: 20px 0 10px 0;
        padding-bottom: 20px;
    }
   
    
    .left{
        width: 30%;
        height: 500px;
        padding-left: 10px;
    }
    
    .center{
        width: 30%;
        height: 500px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .right{
        width: 30%;
        height: 500px;
        padding-left: 20px;
    }
    
    #prezzo{
        color: red;
    }
    

    /* da rivedere*/
    
    .img:hover{
        background-image: url(../img/1-hover.jpg);
        display: none; 
        width: 100px;
        height: 200px;
        }


    


    